.lista {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 20px;
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  align-items: center;
  justify-content: center;

  background: #141414;

  color: #fff;
  font-size: 16px;
}
