.container {
  background-color: #111111;
  width: 600px;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  height: 240px;
  padding: 16px;
  align-items: center;
  gap: 20px;

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c7ff69;
    padding: 8px 20px;
    width: 190px;
    color: #161616;
    gap: 4px;
    height: 58px;

    border: 1px solid rgba(128, 128, 128, 0.205);
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.1s ease-in;

    &:hover {
      background-color: white;
      color: #101014;
    }
  }

  &__img {
    width: 180px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;

    img {
      object-fit: cover;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
  }

  &__rating {
    display: inline-flex;
    gap: 8px;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h1 {
      font-weight: bolder;
      line-height: 40px;
      width: 350px;
      padding-bottom: 20px;
      border-bottom: 1px solid #434141;
    }

    p {
      font-weight: bolder;
    }

    button {
      color: #fdf9f0;
      font-weight: bolder;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #101014;
      padding: 6px;
      height: 58px;
      width: 60px;
      border-radius: 4px;
      border: 1px solid rgba(128, 128, 128, 0.205);
      transition: all 0.1s ease-in;

      &:hover {
        background-color: #fdf9f0;
        color: #101014;
        cursor: pointer;
      }
    }
  }
}
