.container {
  display: flex;

  width: 740px;
  height: 260px;
  background-color: #111111;
  border-radius: 6px;
  overflow: hidden;

  &__img {
    width: 340px;
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
      object-fit: cover;
      transition: transform 0.4s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__nota {
    display: inline-flex;
    gap: 12px;

    font-weight: bolder;
    align-items: center;
    justify-content: center;

    span {
      font-size: 1.6em;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    h2 {
      font-size: 2em;
      width: 400px;
    }

    p {
      font-weight: 500;
      color: #bbbbbb;
      width: 400px;
    }

    ul {
      display: inline-flex;
      gap: 12px;
      width: fit-content;
    }
  }
}

.containerInfo {
  display: inline-flex;
  padding: 20px;
  gap: 120px;
  justify-content: center;
}
