.form {
  display: inline-flex;
  gap: 12px;
  align-items: center;
}

.search {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 0px 16px;
    width: 360px;
    height: 46px;
  }

.button {
  background-color: #c7ff69;
  color: #161616;
  padding: 12px 20px;
  border-radius: 22px;
  transition: all 0.1s ease-in;
  font-weight: bold;
  width: 100px;
  height: 46px;

  &:hover {
    border-radius: 16px;
  }
}
