.container {
  color: #FDF9F0;
  h1 {
    span {
      color: #BDFB84;
    }
  }

  p {
    margin-bottom: 40px;
  }
  &__back {
    margin-top: 60px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 0.9em;
    font-weight: bold;
  }
}