.lista {
  display: flex;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98vw;

  &__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
  }
}
